.vscode/
.deprecated/
implicit-brainfuck/obj/
implicit-brainfuck/brainfuck
UwUebsites/project_keqei/js/node_modules
UwUebsites/incursion/.venv
implicit-basement-lang/blvm/obj/
implicit-basement-lang/blvm/blvm
implicit-basement-lang/test/
*.pyc
__pycache__/
